body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#main-heading{
    border-radius: 20px;
}
#main-heading h1{
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
#meme-form hr{
    width: 75%;
    margin-top: 8px;
}

.form-label{
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    border-radius: 10px;

}
.meme {
    position: relative;
}

#meme img{
    opacity: .8;
    width: 35vw;
    height: 35vw;
}

#meme div:hover:after {
    opacity: .50;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 25vw;
    color: #FFF;
    line-height: 140%;
    text-align: center;
    vertical-align: center;

}

#submit-button{
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.top-text, .bottom-text{
    position: absolute;
    left: 22px;
    right: 22px;
    font-size: 2.75vw;
    text-transform: uppercase;
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.bottom-text{
    bottom: 8px;
}

.top-text{
    top: 8px;
}

#footer span{
    font-size: 1.5vw;
}


@media (max-width: 767px) {
    #copy, #social{
        text-align: center;
        align-content: center;
        align-items: center;
    }
    #copy{
        margin-bottom: 8px;
    }

 }